{% extends "base.html" %} {% block content_variable %} {% if not request.user.is_authenticated %}
<div style="margin-top: 30px">
  <form method="POST">
    {% csrf_token %} {% if error%}
    <span style="color: red">{{ error }}</span>
    {% endif%}
    <div>
      <input type="text" name="username" placeholder="username" />
    </div>
    <div style="margin-top: 10px">
      <input type="password" name="password" placeholder="password" />
    </div>
    <button style="margin-top: 10px" type="submit">Login</button>
  </form>
</div>
{% else %}
<p>You're already logged in. Would you like to <a href="/logout/">logout</a>?</p>
{% endif %} {% endblock content_variable %}
